<div id="ins">
    <% if (fancybox) { %>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <% } %>
    <style>
        .flexcontainer {
            display: flex;
            flex-flow: row wrap;
        }

        .flexcontainer li {
            width: 40%;
            text-align: center;
            background-color: transparent;
            display: block;
            padding: 10px;
        }
    </style>
    <blockquote>
        <p><%- quote %></p>
    </blockquote>
    <div id="photos">
        <% ins_data.forEach(function(month_data) { %>
        <div><h4><%= Number(month_data.time) / 100 %></h4>
            <ul class="flexcontainer">
                <% month_data.photos.forEach(function(one){ %>
                <li>
                    <div>
                        <% if (one.caption) { %>
                        <a data-fancybox="photos" href="<%= one.link %>"
                           data-caption="<span title=&quot;Edited&quot;><%= one.caption.text %><br><a href=&quot;https://www.instagram.com/<%= user_name %>/&quot;>@<%= user_name %></a></span>">
                            <img style="cursor:zoom-in" src="<%= one.photo %>" title="<%= one.caption.text %>"> </a>
                        <% } else { %>
                        <a data-fancybox="photos" href="<%= one.link %>"
                           data-caption="<span title=&quot;Edited&quot;><br><a href=&quot;&quot;><%= user_name %></a></span>">
                            <img style="cursor:zoom-in" src="<%= one.photo %>"></a>
                        <% } %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
        <% }) %>
    </div>
</div>